@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Sofia+Sans+Condensed:wght@200;300;400&display=swap");
:root {
  --family-doc: "Sofia Sans Condensed", sans-serif;
  --family-extra: "Goldman", cursive;

  --fs-xs: 15px;
  --fs-s: 18px;
  --fs-m: 25px;
  --fs-l: 40px;
  --fs-xl: 50px;
  --fs-xxl: 60px;

  --borRad: 0.5rem;

  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
}

/* todo - это обращение по атрибуту */

body[data-theme="dark"] {
  --colors-text: hsl(0, 0%, 100%);

  --colors-bg: #020202;

  --colors-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.3) 0 0 10px;
}

body[data-theme="light"] {
  --colors-text: hsl(200, 15%, 8%);

  --colors-bg: hsl(0, 0%, 98%);

  --colors-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  font-family: var(--family-doc);

  color: var(--colors-text);

  background-color: var(--colors-bg);
}
